.pictures{
    display: flex;
}

#container1 {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    display: flex;
}

#square1, #square2, #square3 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid black;
    position: absolute;
}

#square1 {
    background: #b8cce3;
    top: 20px;
    left: 100px;
    rotate: 45deg;
}

#square2 {
    background: #ffff00;
    top: 130px;
    left: 35px;
    rotate: 15deg;
}

#square3 {
    background: #ca0065;
    top: 130px;
    left: 165px;
    rotate: -15deg;
}

#container2{
    display: flex;

}

#square4, #square5, #square6 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid black;
}

#square4 {
    background: #b8cce3;
    transform: translate(100px, 40px) rotate(45deg);
}

#square5 {
    background: #ffff00;
    transform: translate(-67px, 153px) rotate(14deg);
}

#square6 {
    background: #ca0065;
    transform: translate(-41px, 153px) rotate(-14deg);
}